<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string># Process the MultiMarkdown document and convert to an RTF
# Now uses hand crafted XSLT to generate better RTF output

# first figure out a name for the result
NAME="${TM_FILENAME:-untitled}"
BASENAME="${NAME%.*}"
DST="/tmp/$BASENAME"

cd "${TM_MULTIMARKDOWN_PATH:-$HOME/Library/Application Support/MultiMarkdown}"
cd bin

# Use the new, incomplete XSLT to generate properly coded RTF documents.
# NOTE - ALL FEATURES ARE NOT COMPLETE YET!!!

./mmd2RTF.pl  &gt; "$DST.rtf"

# Alternatively, use the old approach - use textutil to convert HTML to RTF.

# ./multimarkdown2RTF.pl  &gt; "$DST.rtf"



# Open RTF documents with the default application.  If you want to specify
# a certain application to use, comment this and uncomment below, or write
# your own command

open "$DST.rtf"



# Alternatively, uncomment this to open everything with NeoOffice

# open -a NeoOffice.app "$DST.rtf"


# TextEdit sucks. Don't use it.  Use something else.
# If you have to use it, open your document in OpenOffice or NeoOffice first, 
# edit slightly and resave it.  The results in TextEdit will be better,
# though still not right.

# open -a TextEdit.app "$DST.rtf"
</string>
	<key>fallbackInput</key>
	<string>document</string>
	<key>input</key>
	<string>selection</string>
	<key>keyEquivalent</key>
	<string>^R</string>
	<key>name</key>
	<string>Convert Document / Selection to RTF</string>
	<key>output</key>
	<string>discard</string>
	<key>scope</key>
	<string>text.html.markdown.multimarkdown</string>
	<key>uuid</key>
	<string>D9118E94-4E23-4B75-88D7-6BFEBAA70D1B</string>
</dict>
</plist>
