[submodule "Bundles/git.tmbundle"]
	path = Bundles/git.tmbundle
	url = git://github.com/jcf/git-tmbundle.git
[submodule "Bundles/github.tmbundle"]
	path = Bundles/github.tmbundle
	url = git://github.com/drnic/github-tmbundle.git
[submodule "Bundles/mcss.tmbundle"]
	path = Bundles/mcss.tmbundle
	url = git://github.com/minimaldesign/mCSS.tmbundle.git
[submodule "Bundles/mhtml.tmbundle"]
	path = Bundles/mhtml.tmbundle
	url = git://github.com/minimaldesign/mHTML.tmbundle.git
[submodule "Bundles/javascript.tmbundle"]
	path = Bundles/javascript.tmbundle
	url = git://github.com/subtleGradient/javascript.tmbundle.git
[submodule "Bundles/javascript-tools.tmbundle"]
	path = Bundles/javascript-tools.tmbundle
	url = git://github.com/subtleGradient/javascript-tools.tmbundle.git
[submodule "Bundles/jquery.tmbundle"]
	path = Bundles/jquery.tmbundle
	url = git://github.com/kswedberg/jquery-tmbundle.git
[submodule "Bundles/ruby.tmbundle"]
	path = Bundles/ruby.tmbundle
	url = git://github.com/drnic/ruby-tmbundle.git
[submodule "Bundles/rubyonrails.tmbundle"]
	path = Bundles/rubyonrails.tmbundle
	url = git://github.com/drnic/ruby-on-rails-tmbundle.git
[submodule "Bundles/latex.tmbundle"]
	path = Bundles/latex.tmbundle
	url = git://github.com/textmate/latex.tmbundle.git
[submodule "Bundles/markdown.tmbundle"]
	path = Bundles/markdown.tmbundle
	url = git://github.com/fletcher/markdown.tmbundle.git
[submodule "Bundles/ruby-amp.tmbundle"]
	path = Bundles/ruby-amp.tmbundle
	url = git://github.com/timcharper/rubyamp.git
[submodule "Bundles/rspec.tmbundle"]
	path = Bundles/rspec.tmbundle
	url = git://github.com/dchelimsky/rspec-tmbundle.git
[submodule "Bundles/cucumber.tmbundle"]
	path = Bundles/cucumber.tmbundle
	url = git://github.com/bmabey/cucumber-tmbundle.git
[submodule "Bundles/shoulda.tmbundle"]
	path = Bundles/shoulda.tmbundle
	url = git://github.com/drnic/ruby-shoulda-tmbundle.git
[submodule "Bundles/webrat.tmbundle"]
	path = Bundles/webrat.tmbundle
	url = git://github.com/bmabey/webrat-tmbundle.git
[submodule "Bundles/sproutcore.tmbundle"]
	path = Bundles/sproutcore.tmbundle
	url = git://github.com/sproutit/sproutcore-tmbundle.git
[submodule "Bundles/cappuccio.tmbundle"]
	path = Bundles/cappuccio.tmbundle
	url = git://github.com/malkomalko/Cappuccino.tmbundle.git
[submodule "Bundles/mootools.tmbundle"]
	path = Bundles/mootools.tmbundle
	url = git://github.com/subtleGradient/MooTools.tmBundle.git
[submodule "Bundles/formtastic.tmbundle"]
	path = Bundles/formtastic.tmbundle
	url = git://github.com/grimen/formtastic_tmbundle.git
[submodule "Bundles/sinatra.tmbundle"]
	path = Bundles/sinatra.tmbundle
	url = git://github.com/foca/sinatra-tmbundle.git
[submodule "Bundles/haml.tmbundle"]
	path = Bundles/haml.tmbundle
	url = git://github.com/douglasjarquin/ruby-haml-tmbundle.git
[submodule "Bundles/sass.tmbundle"]
	path = Bundles/sass.tmbundle
	url = git://github.com/seaofclouds/sass-textmate-bundle.git
[submodule "Bundles/guimate.tmbundle"]
	path = Bundles/guimate.tmbundle
	url = git://github.com/subtleGradient/guimate.tmbundle.git
[submodule "Bundles/rsync-ssh.tmbundle"]
	path = Bundles/rsync-ssh.tmbundle
	url = git://github.com/davidolrik/synchronize-remote-directory-rsync-ssh-tmbundle.git
[submodule "Bundles/copy-as-rtf.tmbundle"]
	path = Bundles/copy-as-rtf.tmbundle
	url = git://github.com/drnic/copy-as-rtf-tmbundle.git
[submodule "Bundles/wordpress.tmbundle"]
	path = Bundles/wordpress.tmbundle
	url = git://github.com/Gipetto/wordpress.tmbundle.git
