<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>jQTouch</title>
        <style type="text/css" media="screen">@import "http://jonathanstark.com/jqtouch/jqtouch/jqtouch.css";</style>
        <style type="text/css" media="screen">@import "http://jonathanstark.com/jqtouch/themes/jqt/theme.css";</style>
        <script type="text/javascript" charset="utf-8" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script type="text/javascript" charset="utf-8" src="http://jonathanstark.com/jqtouch/jqtouch/jqtouch.js"></script>
        <script type="text/javascript" charset="utf-8">
            var jqt = new $.jQTouch();
        </script>
    </head>
    <body>
        <div id="home">
            <div class="toolbar">
                <h1>Home</h1>
            </div>
            <ul class="rounded">
                <li class="arrow"><a href="#panel1">Panel 1</a></li>
                <li class="arrow"><a href="#panel2">Panel 2</a></li>
                <li class="arrow"><a href="#panel3">Panel 3</a></li>
            </ul>
        </div>
        <div id="panel1">
            <div class="toolbar">
                <h1>Title</h1>
                <a class="back" href="#">Home</a>
            </div>
            <div class="info">
                <p>Hi there!</p>
            </div>
        </div>
        <div id="panel2">
            <div class="toolbar">
                <h1>Title</h1>
                <a class="back" href="#">Home</a>
            </div>
            <div class="info">
                <p>Hi there!</p>
            </div>
        </div>
        <div id="panel3">
            <div class="toolbar">
                <h1>Title</h1>
                <a class="back" href="#">Home</a>
            </div>
            <div class="info">
                <p>Hi there!</p>
            </div>
        </div>
    </body>
</html>